*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #103534;
}

nav{
    background-color: #00403f;
    padding: 20px;
}

nav a{
    color: white;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px; 
}

#active{
    border-radius: 20px;
    background-color: #e28525;
}

main{
    width: 50%;
    margin: auto;
    display: grid;
    grid-template-areas: 
    'a a a b b'
    'a a a b b'
    'c c d d d'
    'c c e e e'
    ;
    padding-top: 50px;
}

.item-a{
    grid-area: a;
    background-color: orangered;
    padding: 100px;
    margin: 2px;
}

.item-b{
    grid-area: b;
    background-color: rgb(241, 197, 0);
    padding: 60px;
    margin: 2px;
}

.item-c{
    grid-area: c;
    background-color: green;
    padding: 60px;
    margin: 2px;
}

.item-d{
    grid-area: d;
    background-color: rgb(173, 173, 233);
    padding: 45px;
    margin: 2px;
}

.item-e{
    grid-area: e;
    background-color: rgb(173, 173, 233);
    padding: 60px;
    margin: 2px;
}

@media screen and (max-width: 700px) {
    main{
        width: 70%;
    }
}